@import "../../config";

.pageProfile {
  display: grid;

  @media screen and (min-width: 1918px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 505px 1fr 120px 1fr;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ptr(476px) 1fr 95px 1fr;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ptr(385px) 1fr 75px 1fr;
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: ptr(100px) 1fr ptr(100px) 80px ptr(100px);
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: ptr(100px) 1fr ptr(100px) 90px ptr(100px);
  }
}

.profileCardWrap {
  display: grid;

  @media screen and (min-width: 641px) and (max-width: 900px) {
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 100%;
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: ptr(100px) 1fr ptr(100px);
    grid-template-rows: 100%;
  }
}

.profileCard {
  display: grid;

  @media screen and (min-width: 1918px) {
    grid-template-columns: 1fr 378px 210px 780px 1.5fr;
    grid-template-rows: 1fr;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    grid-template-columns: 1fr ptr(356px) ptr(210px) ptr(780px) 1fr;
    grid-template-rows: 1fr;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    grid-template-columns: 1fr ptr(288px) ptr(160px) ptr(780px) 1fr;
    grid-template-rows: 1fr;
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ptr(48px) ptr(790px);
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ptr(48px) ptr(1356px);
  }
}

.profileAvatar {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: transparent;
  border: 2px #393939 solid;

  img {
    height: 100%;
    width: 100%;
  }
}

.profileInfo {
  display: grid;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 1918px) {
    grid-template-columns: 1fr;
    grid-template-rows: 30px 32px 61px 1fr 61px 30px 30px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    grid-template-columns: 1fr;
    grid-template-rows: ptr(30px) ptr(32px) ptr(61px) 1fr ptr(61px) ptr(30px) ptr(30px);
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: ptr(28px) ptr(24px) ptr(51px) 1fr ptr(51px) ptr(25px) ptr(28px);
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: ptr(60px) ptr(69px) ptr(71px) ptr(394px) ptr(71px) ptr(35px) ptr(90px);
  }

  @media screen and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: ptr(90px) ptr(104px) ptr(101px) ptr(765px) ptr(101px) ptr(85px) ptr(110px);
  }
}

.profileHeader {
  @include flexRowRelative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #0064aa;
  line-height: 1;

  @media screen and (min-width: 1918px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    font-size: ptr(30px);
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    font-size: ptr(28px);
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    font-size: ptr(60px);
  }

  @media screen and (max-width: 640px) {
    font-size: ptr(90px);
  }

  span {
    @media screen and (min-width: 1918px) {
      margin-top: 10px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1917px) {
      margin-top: ptr(10px);
    }

    @media screen and (min-width: 901px) and (max-width: 1200px) {
      margin-top: ptr(8px);
    }

    @media screen and (min-width: 641px) and (max-width: 900px) {
      margin-top: ptr(30px);
    }

    @media screen and (max-width: 640px) {
      margin-top: ptr(20px);
    }
  }
}

.profileRank {
  @include flexColumnRelative;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #7c868e;

  @media screen and (min-width: 1918px) {
    font-size: 16px;
    line-height: 1;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    font-size: ptr(16px);
    line-height: 1;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    font-size: ptr(14px);
    line-height: 1.15;
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    font-size: ptr(30px);
    line-height: 1.15;
  }

  @media screen and (max-width: 640px) {
    font-size: ptr(45px);
    line-height: 1.15;
  }
}

.profileSeparator {
  display: grid;
  align-self: center;
  height: 1px;
  width: 1fr;
  background: #919ba2;
}

.profileInfoText {
  @include flexColumnRelative;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  line-height: 1.25;

  @media screen and (min-width: 1918px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    font-size: ptr(24px);
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    font-size: ptr(20px);
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    font-size: ptr(45px);
  }

  @media screen and (max-width: 640px) {
    font-size: ptr(68px);
  }
}