@import "../../config";

.pageAbout {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1151px) {
    padding: ptr(75px) ptr(100px);
  }

  @media screen and (min-width: 821px) and (max-width: 1150px) {
    padding: ptr(100px) ptr(150px);
  }

  @media screen and (min-width: 641px) and (max-width: 820px) {
    padding: ptr(125px) ptr(100px);
  }

  @media screen and (max-width: 640px) {
    padding: ptr(175px) ptr(250px);
  }
}

.aboutHeader {
  @include flexColumnRelative;
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: black;
  line-height: 1.15;
  text-align: center;

  .aboutHeaderPreview {
    @include flexColumnRelative;
    font-weight: 300;
    font-size: 20px;
    margin-top: 5px;
  }

  .aboutHeaderTitle {
    @include flexColumnRelative;
    font-weight: 400;
    font-size: 24px;
  }

  @media screen and (min-width: 1151px) {
    margin-bottom: ptr(75px);
  }

  @media screen and (min-width: 821px) and (max-width: 1150px) {
    margin-bottom: ptr(100px);
  }

  @media screen and (min-width: 641px) and (max-width: 820px) {
    margin-bottom: ptr(125px);
  }

  @media screen and (max-width: 640px) {
    margin-bottom: ptr(175px);
  }
}

.aboutCards {
  display: grid;
  justify-content: center;
  width: 100% !important;
  grid-template-columns: repeat(auto-fill, 220px);

  @media screen and (min-width: 1151px) {
    grid-gap: ptr(75px);
  }

  @media screen and (min-width: 821px) and (max-width: 1150px) {
    grid-gap: ptr(100px);
  }

  @media screen and (min-width: 641px) and (max-width: 820px) {
    grid-gap: ptr(125px);
  }

  @media screen and (max-width: 640px) {
    grid-gap: ptr(175px);
  }
}

@mixin aboutImgTemplate {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  background: rgba(0, 100, 170, 0.1);
  border-radius: 5px;
  border-top: 1px rgba(0, 100, 170, 0.7) solid;
  border-left: 1px rgba(0, 100, 170, 0.7) solid;
  border-bottom: 1px rgba(0, 100, 170, 0.25) solid;
  border-right: 1px rgba(0, 100, 170, 0.25) solid;
  margin-bottom: 10px;
}

.aboutImgVertical {
  @include aboutImgTemplate;
  height: 330px;
  width: 220px;

  img {
    height: 310px;
    width: 200px;
  }
}

.aboutImgHorizontal {
  @include aboutImgTemplate;
  height: 160px;
  width: 220px;

  img {
    height: 140px;
    width: 200px;
  }

  @media screen and (min-width: 645px) {
    margin-top: 85px;
  }
}

@mixin aboutTitleTemplate {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5f5f5f;
  text-align: center;
  line-height: 1.25;
  white-space: normal;
}

.aboutTitleCard {
  @include aboutTitleTemplate;
  width: 220px;
}

@mixin aboutImgModalTemplate {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.aboutImgModalVertical {
  @include aboutImgModalTemplate;
  height: 100%;
  width: 100%;

  img {
    height: 100vh;
  }
}

.aboutImgModalHorizontal {
  @include aboutImgModalTemplate;
  height: 100%;
  width: 100%;

  img {
    width: 95vw;
  }
}

.aboutTitleInModal {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #393939;
  line-height: 1.25;
  text-align: center;
  white-space: normal !important;
  margin-top: 30px;
}