@import "../../config";

@mixin flexRowRelative {
  display: flex;
  flex-direction: row;
  position: relative;
}

@mixin flexColumnRelative {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pageSPA {
  @include flexColumnRelative;
  height: 100%;
  width: 100%;
  background: white;
}

/*region spaBlock*/

.spaBlock {
  @include flexRowRelative;
  height: ptr(504px);
  max-width: 100%;
  margin: ptr(26px) ptr(296px);
}

.spaPart1 {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  height: ptr(504px);
  width: ptr(379px);
  margin-right: ptr(240px);
  background: rgba(0, 100, 170, 0.1);

  img {
    height: ptr(480px);
    width: ptr(319px);
    border: 1px solid rgba(0, 88, 144, 0.5);
  }
}

.spaPart2 {
  @include flexColumnRelative;
  height: ptr(504px);
  width: ptr(921px);
}

.spaPart2Header {
  font-family: "Roboto", sans-serif;
  font-size: ptr(30px);
  font-weight: 400;
  color: #0064aa;
  line-height: ptr(28px);

  span {
    line-height: ptr(36px);
    font-weight: 300;
  }
}

.spaPart2Remark {
  font-family: "Roboto", sans-serif;
  font-size: ptr(16px);
  font-weight: 300;
  color: #7c868e;
}

.spaPart2Separator {
  height: 1px;
  width: ptr(760px);
  position: relative;
  background: #919ba2;
  margin: ptr(30px) 0 ptr(30px) 0;
}

.spaPart2Text {
  font-family: "Roboto", sans-serif;
  font-size: ptr(24px);
  font-weight: 300;
  color: black;
  line-height: 1.26;
}

/*endregion spaBlock*/

/*region Footer*/

.spaFooter {
  @include flexColumnRelative;
  max-height: ptr(150px);
  max-width: 100%;
  background: #0064aa;
  padding: ptr(20px) ptr(665px) ptr(20px) ptr(665px);
}

.spaFooterButtons {
  @include flexRowRelative;
  height: ptr(50px);
  width: 100%;
}

.spaFooterButtonTemplate {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  height: ptr(50px);
  width: ptr(235px);
  background: #39d02a;
  border-radius: ptr(5px);
  font-family: "Roboto Slab", serif;
  font-size: ptr(22px);
  font-weight: 400;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    background: #018401;
    box-shadow: 0 ptr(3px) ptr(3px) #004487;
    transition: 100ms;
  }
}

.spaFooterButtonSeparator {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: ptr(24px);
  font-weight: 300;
  color: #a2c6df;
  margin: 0 ptr(34px) 0 ptr(34px);
}

.spaFooterRemark {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: ptr(10px);
  font-weight: 400;
  color: #a2c6df;
  margin-top: ptr(20px);
}

.spaFooterRemarkLink {
  font-family: "Roboto", sans-serif;
  font-size: ptr(10px);

  a {
    color: #a2c6df;
    font-weight: 700;
    text-decoration: none;
  }

  &:hover {
    a {
      color: black;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

/*endregion Footer*/