@import "../../config";

.pageHome {
  display: grid;
  position: relative;
  height: 1fr;
  width: 1fr;
  overflow-x: hidden;
  background: white;

  @media screen and (min-width: 1920px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 592px 1fr 120px 1fr;
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 418px 1fr 95px 1fr;
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 341px 1fr 95px 1fr;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 422px 1fr 75px 1fr;
  }
}

/*region Advantages*/

.homeAdvantages {
  display: grid;

  @media screen and (min-width: 1920px) {
    grid-template-columns: 1fr 576px 61px 576px 61px 576px 1fr;
    grid-template-rows: 1fr;
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    grid-template-columns: 1fr 480px 41px 480px 41px 480px 1fr;
    grid-template-rows: 1fr;
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    grid-template-columns: 1fr 366px 31px 366px 31px 366px 1fr;
    grid-template-rows: 1fr;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 61px 100px 61px 100px;
  }
}

.homeAdvantageTemplate {
  display: grid;

  @media screen and (min-width: 1920px) {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 95px 360px 40px;
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 63px 240px 35px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 60px 190px 27px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    justify-items: left;
    grid-template-columns: 1fr 100px 761px 1fr;
    grid-template-rows: 1fr;
  }
}

.homeAdvantageTemplateIcon {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: transparent;

  @media screen and (min-width: 1920px) {
    box-shadow: 0 0 0 3.5px rgba(0, 100, 170, 1);
    height: 96px;
    width: 96px;
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    box-shadow: 0 0 0 3px rgba(0, 100, 170, 1);
    height: 80px;
    width: 80px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    box-shadow: 0 0 0 2.5px rgba(0, 100, 170, 1);
    height: 64px;
    width: 64px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    box-shadow: 0 0 0 4px rgba(0, 100, 170, 1);
    height: 100px;
    width: 100px;
  }

  &:hover {
    transition: 350ms;
    background: #0064aa;
  }
}

.homeAdvantageTemplateImg {
  @media screen and (min-width: 1920px) {
    #img1 {
      height: 80px;
      display: block;
    }

    #img2 {
      display: none;
    }

    &:hover {
      transition: 350ms;

      #img1 {
        display: none;
      }

      #img2 {
        height: 80px;
        display: block;
      }
    }
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    #img1 {
      height: 68px;
      display: block;
    }

    #img2 {
      display: none;
    }

    &:hover {
      transition: 350ms;

      #img1 {
        display: none;
      }

      #img2 {
        height: 68px;
        display: block;
      }
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    #img1 {
      height: 56px;
      display: block;
    }

    #img2 {
      display: none;
    }

    &:hover {
      transition: 350ms;

      #img1 {
        display: none;
      }

      #img2 {
        height: 56px;
        display: block;
      }
    }
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    #img1 {
      height: 84px;
      display: block;
    }

    #img2 {
      display: none;
    }

    &:hover {
      transition: 350ms;

      #img1 {
        display: none;
      }

      #img2 {
        height: 84px;
        display: block;
      }
    }
  }
}

.homeAdvantageSeparatorContainer {
  display: grid;
  grid-template-columns: 1fr 861px 1fr;
  grid-template-rows: 1fr;
}

.homeAdvantageSeparator {
  background: #9bbacf;

  @media screen and (min-width: 1920px) {
    height: 100%;
    width: 1px;
    margin: 0 30px;
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    height: 100%;
    width: 1px;
    margin: 0 20px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    height: 100%;
    width: 1px;
    margin: 0 15px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    height: 1px;
    width: 100%;
    margin: 30px 0;
  }
}

.homeAdvantageContainer {
  display: grid;
  margin-left: 26px;

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 16px 84px;
  }
}

.homeAdvantageTemplateHeader {
  @include flexColumnRelative;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #005890;

  @media screen and (min-width: 1920px) {
    align-items: center;
    font-size: 25px;
    line-height: 1.25;
    margin: 20px 0 13px 0;
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    align-items: center;
    font-size: 20px;
    line-height: 1.15;
    margin: 12px 0 5px 0;
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    margin: 14px 0 8px 0;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    align-items: flex-start;
    font-size: 16px;
    line-height: 1.2;
  }
}

.homeAdvantageTemplateText {
  @include flexColumnRelative;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-weight: 300;
  color: #393939;

  @media screen and (min-width: 1920px) {
    align-items: center;
    font-size: 21px;
    line-height: 1.75;
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    align-items: center;
    font-size: 18px;
    line-height: 1.35;
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    align-items: center;
    font-size: 13.75px;
    line-height: 1.4;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    align-items: flex-start;
    font-size: 13.75px;
    line-height: 1.25;
  }

  a {
    color: #005890;
    text-decoration: none;

    &:hover {
        color: black;
    }
  }


}

.homeAdvantageTemplateLink {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: justify;

  @media screen and (min-width: 1920px) {
    font-size: 25px;
    line-height: 25px;
    margin-top: 15px;
  }

  @media screen and (min-width: 1598px) and (max-width: 1919px) {
    font-size: 21px;
    line-height: 21px;
    margin-top: 10px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1597px) {
    font-size: 18px;
    line-height: 18px;
    margin-top: 9px;
  }

  a {
    color: #005890;
    text-decoration: none;
  }

  &:hover {
    a {
      color: black;
    }
  }
}

/*endregion Advantages*/

/*region Footer*/

.homeFooter {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #0064aa;

  @media screen and (min-width: 1920px) {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1919px) {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 25px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 20px;
  }
}

.homeFooterButtons {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
}

.homeFooterButtonTemplate {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: white;
  background: #39d02a;
  border-radius: ptr(5px);

  @media screen and (min-width: 1920px) {
    width: 235px;
    font-size: 22px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1919px) {
    width: 210px;
    font-size: 20px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    width: 160px;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    a {
      text-decoration: none;
      color: white;
    }

    cursor: pointer;
    background: #018401;
    box-shadow: 0 ptr(3px) ptr(3px) #004487;
    transition: 100ms;
  }
}

.homeFooterButtonSeparator {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #a2c6df;

  @media screen and (min-width: 1920px) {
    font-size: 24px;
    margin: 0 30px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1919px) {
    font-size: 21px;
    margin: 0 30px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    font-size: 18px;
    margin: 0 20px;
  }
}

.homeFooterRemark {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #a2c6df;

  @media screen and (min-width: 1920px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1919px) {
    margin-top: 15px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    margin-top: 10px;
  }
}

.homeFooterRemarkLink {
  font-family: "Roboto", sans-serif;

  @media screen and (min-width: 1920px) {
    font-size: 10px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1919px) {
    font-size: 10px;
  }

  a {
    color: #a2c6df;
    font-weight: 700;
    text-decoration: none;
  }

  &:hover {
    a {
      color: black;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

/*endregion Footer*/