@import "../../config";

.Footer {
  display: grid;
  justify-content: center;
  align-content: center;
  background: #0064aa;

  @media screen and (min-width: 1918px) {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 25px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-template-rows: 35px 20px;
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 20px;
  }

  @media screen and (min-width: 361px) and (max-width: 640px) {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 30px;
  }

  @media screen and (max-width: 360px) {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 30px;
  }
}

.FooterButtons {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
}

.FooterButtonTemplate {
  @include flexRowRelative;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: white;
  background: #39d02a;
  border-radius: ptr(5px);

  @media screen and (min-width: 1918px) {
    width: 250px;
    font-size: 22px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    width: 235px;
    font-size: 20px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    width: 180px;
    font-size: 16px;
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    width: 180px;
    font-size: 16px;
  }

  @media screen and (min-width: 361px) and (max-width: 640px) {
    width: 140px;
    font-size: 14px;
    border-radius: 2px !important;
  }

  @media screen and (max-width: 360px) {
    width: 120px;
    font-size: 12px;
    border-radius: 2px !important;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &:hover {
    a {
      text-decoration: none;
      color: white;
    }

    cursor: pointer;
    background: #018401;
    box-shadow: 0 ptr(3px) ptr(3px) #004487;
    transition: 100ms;
  }
}

.FooterButtonSeparator {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #a2c6df;

  @media screen and (min-width: 1918px) {
    font-size: 24px;
    margin: 0 30px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    font-size: 21px;
    margin: 0 30px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    font-size: 18px;
    margin: 0 20px;
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    font-size: 18px;
    margin: 0 20px;
  }

  @media screen and (min-width: 361px) and (max-width: 640px) {
    font-size: 15px;
    margin: 0 15px;
  }

  @media screen and (max-width: 360px) {
    font-size: 14px;
    margin: 0 14px;
  }
}

.FooterRemark {
  @include flexRowRelative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #a2c6df;
  line-height: 10px;

  @media screen and (min-width: 1918px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1917px) {
    margin-top: 15px;
  }

  @media screen and (min-width: 901px) and (max-width: 1200px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 641px) and (max-width: 900px) {
    margin-top: 10px;
  }

  @media screen and (min-width: 361px) and (max-width: 640px) {
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    margin-top: 10px;
  }

  @media screen and (max-width: 360px) {
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    margin-top: 10px;
  }
}

.FooterRemarkLink {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 10px;

  a {
    color: #a2c6df;
    font-weight: 700;
    text-decoration: none;
  }

  &:hover {
    a {
      color: black;
      font-weight: 700;
      text-decoration: none;
    }
  }
}