@import "../../config";

@mixin priceListTableTextTemplate {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  @media screen and (min-width: 641px) {
    font-size: 18px;
  }

  @media screen and (max-width: 640px) {
    font-size: 16px;
  }

  color: white;
  line-height: 1;
  text-align: center;
}

@mixin priceListTableHeaderTemplate {
  display: grid;
  background: #0064aa;
  justify-items: center;
  align-items: center;
}

.priceListPage {
  display: grid;
  height: 1fr;
  width: 1fr;
  align-content: start;
  white-space: normal !important;
}

.priceListHeader {
  text-align: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 1.15;

  .priceListPreview {
    @include flexColumnRelative;
    font-weight: 300;
    font-size: 20px;
    margin-top: 30px;
  }

  .priceListTitle {
    @include flexColumnRelative;
    font-weight: 400;
    font-size: 24px;
    margin-top: 5px;
  }
}

.priceListTableHeader {
  @include priceListTableHeaderTemplate;

  @media screen and (min-width: 920px) {
    grid-template-columns: 1fr 1px 200px 1px 200px;
    grid-template-rows: 65px;
    margin: 30px ptr(200px) 0 ptr(200px);
  }
}

.priceListTableHeaderMobilePart1 {
  @include priceListTableHeaderTemplate;

  @media screen and (max-width: 919px) {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1px;
    margin: 30px ptr(200px) 0 ptr(200px);
  }
}

.priceListTableHeaderMobilePart2 {
  @include priceListTableHeaderTemplate;

  @media screen and (max-width: 919px) {
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 50px;
    margin: 0 ptr(200px);
  }
}

.tableHeaderText {
  @include priceListTableTextTemplate;
}

.tableHeaderSeparator {
  @include flexRowRelative;
  background: white;
}

.priceListTable{
  display: grid;
  align-items: center;

  @media screen and (min-width: 920px) {
    grid-template-columns: 1px 1fr 1px 200px 1px 200px 1px;
    grid-template-rows: minmax(65px, 1fr);
    margin: 0 ptr(200px);
  }
}

.priceListTableMobilePart1 {
  display: grid;
  align-items: center;

  @media screen and (max-width: 919px) {
    grid-template-columns: 1px 1fr 1px;
    grid-template-rows: minmax(50px, auto);
    margin: 0 ptr(200px);
  }
}

.priceListTableMobilePart2 {
  display: grid;
  justify-items: center;
  align-items: center;

  @media screen and (max-width: 919px) {
    grid-template-columns: 1px 1fr 1px 1fr 1px;
    grid-template-rows: minmax(50px, auto);
    margin: 0 ptr(200px);
  }
}

.tableTextHeader {
  @include priceListTableTextTemplate;
  color: #393939;
  text-align: start !important;
  padding: 15px;
}

.tableText {
  @include priceListTableTextTemplate;

  @media screen and (min-width: 920px) {
    font-weight: 400;
  }

  @media screen and (max-width: 919px) {
    font-weight: 300;
  }

  color: #393939;
}

.tableSeparatorHorizontal {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1px;
  margin: 0 ptr(200px);
  background: #0064aa;
}

.tableSeparator {
  @include flexRowRelative;
  background: #0064aa;
}