@import "./config";
@import "config";

@mixin flexRowRelative {
  display: flex;
  flex-direction: row;
  position: relative;
}

.appHeader {
  display: flex;
  flex-direction: column;
  position: relative;
}

.appHeaderStart {
  display: flex;
  flex-direction: row;
  position: relative;
  background: #0064aa;
  width: 100%;
  height: ptr(80px);
}

.appHeaderStartPart1 {
  display: flex;
  position: relative;
  width: 50%;
  padding-left: ptr(48px);
}

.appHeaderStartAddress {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-right: ptr(48px);
}

.appHeaderStartDoubleText {
  display: flex;
  position: relative;
  flex-direction: column;
  font-family: "Roboto Slab", serif;
  font-size: ptr(20px);
  font-weight: 300;
  color: white;

  span {
    padding-top: ptr(11px);
  }
}

.appHeaderStartAddressSeparator {
  display: flex;
  position: relative;
  width: 1px;
  height: ptr(56px);
  background: #015088;
  margin: ptr(12px) ptr(48px) 0 0;
}

.appHeaderStartSchedule {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-right: ptr(15px);
}

.appHeaderStartScheduleSeparator {
  display: flex;
  position: relative;
  width: 1px;
  height: ptr(44px);
  background: #4cff00;
  margin: ptr(18px) ptr(15px) 0 0;
}

.appHeaderStartNumber {
  display: flex;
  position: relative;
  flex-direction: row;
  font-family: "Roboto Slab", serif;
  font-size: ptr(58px);
  font-weight: 100;
  color: #4cff00;
  margin-top: ptr(-2.5px);

  span {
    margin: 0 ptr(3px) 0 ptr(3px);
  }
}

.appHeaderStartTextOO {
  display: flex;
  position: relative;
  flex-direction: row;
  font-family: "Roboto Slab", serif;
  font-size: ptr(26px);
  font-weight: 300;
  color: #4cff00;
  margin: ptr(8.5px) 0 0 ptr(3px);
}

.appHeaderStartPart2 {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 50%;
}

.appHeaderStartNet {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: ptr(52px);
  margin-right: ptr(28px);

  img {
    width: 100%;
  }
}

.appHeaderStartButton {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: ptr(260px);
  height: ptr(80px);
  background: #39d02a;
  margin: 0 ptr(50px) 0 ptr(22px);

  span {
    font-family: "Roboto Slab", serif;
    font-size: ptr(30px);
    font-weight: 400;
    color: white;
    line-height: 0;
  }
}

.appHeaderStartPhone {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: ptr(24px);
  font-weight: 400;
  color: white;
  line-height: 0;
  margin-right: ptr(48px);
}